body {
    background: url(../src/img1.jpeg);
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

table {
    width: 700px;
    box-shadow: 4px 4px black;
    background-color: lightyellow;
    margin-top: 45vh;
}

table, th, td {
    border: 2px solid black;
}

th, td {
    text-align: center;
}

th {
    background-color: white;
}

td {
    background-color: lightyellow;
}